DATABASE_URL=postgresql+asyncpg://postgres:postgres@postgres:5432/shiftdb
SECRET_KEY=change_this_to_random_32_char_string
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=15
REFRESH_TOKEN_EXPIRE_DAYS=7
GOOGLE_CLIENT_ID=848729858304-5ataridroontkoqge6dvs3k36b2jlbj0.apps.googleusercontent.com
BACKEND_CORS_ORIGINS=["http://localhost:3000","http://localhost:8080"]
ENVIRONMENT=development
